.list-item {
    align-items: center;
    display: flex;
}

.list-item-text {
    cursor: pointer;
    font-size: 1.2rem;
}

.list-item.done .list-item-text {
    text-decoration: line-through;
}

.list-item.important .list-item-text {
    font-weight: 700;
}

.list-item-controls {
    display: flex;
    gap: .2rem;
    margin-left: auto;
}